{% extends "base2.html" %}
{% block content %}
    <div class = "row">
    	<div class = "col-lg-12 text-center">
    	<div class = "jumbotron">
    		<h2> Create a new Listing! </h2>
		<form style="padding-top:5%;" id="form" method="POST" action="/create_listing/">
            {{ form.as_p }}
			<!--<label for='uname'> Username: </label>
			<input id = 'uname' type = 'text'/><br/></br> 
			<label for='pword'> Password: </label> 
			<input id = 'pword' type = 'text'/> <br/></br>-->
			<input class = "btn btn-primary btn-md" name = 'listing' type = 'submit' value = 'Create!'>
		</form>
		</div>
		</div>
	</div>
{% endblock %}
