{% extends "block.html" %}
{% block content %}
<div class = "jumbotron">
    <h3>Listing Information for {{title}}</h3>
    <p>Herein will information on various listings from songs to song services be provided!</p>
    <p>Information including the product/service, creator/seller, and availablilty will be displayed</p> 
    <p>For the homepage, click here: </p></br>
    <a class = "btn btn-primary btn-lg" href = "/home"> Home Page</a>
</div>
<div class="container"> 
    <div class="row">
        <div class="col-lg-12">
            <div calss="huge"><h1>{{title}}</h1></div>
        </div>
    </div>
    <br/>
    <div class ="row">
        <div class = "col-lg-8">
            <dl class = "dl-horizontal">
            <dt>Item: </dt> <dd>{{title}}</dd>
            <dt>Description: </dt> <dd>{{description}}</dd>
            <dt><a href="profile.html">Creator: </a></dt> <dd>{{creator}}</dd>
            <dt>Date Listed: </dt> <dd>{{date_listed}}</dd>
            <dt>Listing Availability: </dt> <dd>{{available}}</dd>
            </dl>
        </div>
        <div class = "col-lg-4">
            <div class = "dropdown">
                <button class ="btn btn-primary dropdown-toggle" type ="button" id="act" data-toggle="dropdown">Actions <span class="caret"></span></button>
                <ul class = "dropdown-menu" role="menu" aria-labelledby="act">
                    <li role = "presentation"><a role="menuitem" href ="#">Purchase</a></li>
                    <li role = "presentation"><a role="menuitem" href ="#">Watch</a></li>
                    <li role = "presentation"><a role="menuitem" href ="#">Rate</a></li>
                </ul>
            </div>
            <br/>
            <button class="btn btn-primary">Message Seller</button>
        </div>
    </div>
    <br/>
    <br/>
    <div class = "row">
        <div class = "col-lg-12">
            <h2 align = "center">Items similar to current listing to be listed here horizontally</h2>
        </div>
    </div>
</div>
{% endblock %}
