{% extends "base.html" %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="jumbotron" style="border: solid lightbluess ">
                    <h1>Share your music with the world!<br></br></h1>
                    <a href="#" class="btn btn-primary btn-lg">Find Music</a> &nbsp &nbsp &nbsp &nbsp
                    <a href="#" class="btn btn-primary btn-lg">Share Music</a>
                </div>
                <div class="container-fluid">
                    <div class = "row">
                <div class="panel panel-info col-md-4">
                    <div class="panel-heading">Find Music and Musicians</div>
                    <div class="panel-body"><li>
                        Be the first to find up and coming musicians
                      </li>
                      <li>
                        Find new songs according to your taste
                      </li>
                      <li>
                        Find new members for your group
                      </li>
                    </div>
                   </div> 
                    <div class="panel panel-info col-md-4 ">
                <div class="panel-heading">Most Recently Shared Piece</div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                      <li><a href="http://localhost:8000/item/{{listing_id}}">{{title}}</a></li>
                </div>
            </div>
                <div class="panel panel-info col-md-4">
                <div class="panel-heading">Share Music</div>
                <div class="panel-body">
                     <li>
                         Get hired for gigs or as an addition to a band 
                      </li>
                      <li>
                        Expose your musical talent to the world
                        </li>
                        <li>
                            Get recognized for your work
                        </li>
                </div>
            </div>
            
        </div>
        </div>
                <div class="footer navbar-fixed-bottom">
                <ul class="list-unstyled">
                    <li><font color="#837E7C">Music Freelancer</font></li>
                    <li><font color="#837E7C">CS4501</font></li>
                </div>     
            </div>
        </div>
        <!-- /.row -->

    </div>
{% endblock %}
