nk rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Music Swap</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body background-color:"blue">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Music Swap</a>   
	 </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"> </li>
                        <li><a href="/about/">About</a></li>
                 	<li><a href="/create_user/">Create Account </a></li>
		   </li>
                  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="jumbotron" style="border: solid lightbluess ">
                    <h1>Share your music with the world!<br></br></h1>
                    <a href="#" class="btn btn-primary btn-lg">Find Music</a> &nbsp &nbsp &nbsp &nbsp
                    <a href="#" class="btn btn-primary btn-lg">Share Music</a>
                </div>
                <div class="container-fluid">
                    <div class = "row">
                <div class="panel panel-info col-md-4">
                    <div class="panel-heading">Find Music and Musicians</div>
                    <div class="panel-body"><li>
                        Be the first to find up and coming musicians
                      </li>
                      <li>
                        Find new songs according to your taste
                      </li>
                      <li>
                        Find new members for your group
                      </li>
                    </div>
                   </div> 
                    <div class="panel panel-info col-md-4 ">
                <div class="panel-heading">Most Recently Shared Piece</div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                      <li><a href="http://localhost:8000/item/{{listing_id}}">{{title}}</a></li>
                </div>
            </div>
                <div class="panel panel-info col-md-4">
                <div class="panel-heading">Share Music</div>
                <div class="panel-body">
                     <li>
                         Get hired for gigs or as an addition to a band 
                      </li>
                      <li>
                        Expose your musical talent to the world
                        </li>
                        <li>
                            Get recognized for your work
                        </li>
                </div>
            </div>
            
        </div>
        </div>
                <div class="footer navbar-fixed-bottom">
                <ul class="list-unstyled">
                    <li><font color="#837E7C">Music Freelancer</font></li>
                    <li><font color="#837E7C">CS4501</font></li>
                </div>     
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->


</body>

</html>
