{% extends "base2.html" %}
{% block content %}
    <div class="container">
        <div class="row" style = "margin-top: 75px;">
            <div class="col-lg-6">
                <img src ="http://placehold.it/300x400" class="img-thumbnail"/>
                <h3 align="left">Name<br/>
                    Instrument</h3>
            </div>
            <div class="col-lg-6">
                <h1>Purchase and Selling History...</h1>
                <p>Not exactly sure what info could be put here, possibly info on what artists this user has sold to, listened to, and collaborated with...</p>
                <button class="btn btn-primary">Message</button>
            </div>
        </div>
    </div>
{% endblock %}
